.capsule {
  color: black;
  font-family: calibri, arial, sans-serif;
}

main {
  display: inline-block;
  margin-left: 10;
  margin-right: 5px;
  width: 720;
}

aside {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 250;
}

.products {
  margin-right: 1em;
  margin-top: 1em;
}


.product-group-header {
  color: black;
  display: inline;
  font-size: 18pt;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 0;
  padding-top: 0;
  text-decoration: underline;
}

.product-lists {
  column-width: 20em;
  margin-top: 0;
}

.product-lists section {
  display: inline-block;
  margin-top: 0;
  padding-bottom: 1em;
  vertical-align: text-top;
  white-space: nowrap;
}

.product-list-title {
  font-size: 16pt;
  font-weight: bold;
}

.product-lists ul {
  display: inline;
}


.please-call {
  display: inline-block;
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
}

.please-call-title {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.please-call span {
  display: inline-block;
  font-style: normal;
  font-weight: bolder;
}


.shipping-restrictions {
  display: inline-block;
  font-size: 12pt;
  font-weight: bolder;
}

.hand-loading-disclaimer {
  border-top: 1px black solid;
  display: inline-block;
  font-size: 12pt;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.hand-loading-disclaimer-text {
  display: inline;
}

.hours {
  display: inline-block;
}

.hours-title {
  display: inline;
  font-size: 13pt;
  font-weight: bold;
}

.hours-details {
  border-top: 1px black solid;
  display: inline-block;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}


.shows {
  color: black;
  display: inline-block;
  font-size: 12pt;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 10;
  padding: 1px;
}

.shows-title {
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.shows ul {
  border: 1px gray solid;
  display: inline-block;
  list-style-type: none;
  margin: 2px;
  padding: 0;
}

.shows li {
  display: inline;
  margin-left: 0;
  text-align: left;
}

.shows address {
  margin-bottom: 1em;
  margin-top: 0;
  text-align: left;
}

.product-logos img {
  border: none;
  margin: 0;
  width: 240;
}
