#capsule {
  font-family: calibri, arial, sans-serif;
  color: black;
}

main {
  position: relative;
  float: left;
  width: 720px;
  margin-left: 10px;
  margin-right: 5px;
  display: inline-block;
}

aside {
  width: 250px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#products {
  margin-top: 1em;
  margin-right: 1em;
}


#products h3 {
  color: black;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: underline;
  display: inline;
}

#product-lists {
  -webkit-column-width: 20em; /* Chrome, Safari, newer Opera */
  -o-column-width: 20em; /* Firefox */
  -moz-column-width: 20em; /* Firefox */
  column-width: 20em;
  margin-top: 0px;
}

#product-lists section {
  white-space: nowrap;
  display: inline-block;
  vertical-align: text-top;
  padding-bottom: 1em;
  margin-top: 0;
}

#product-lists h4 {
  font-size: 16pt;
  font-weight: bold;
}

#product-lists ul {
  display: inline;
}

#product-lists li {
  font-size: 14pt;
  list-style-type: none;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}


#please-call {
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

#please-call h4 {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#please-call span {
  display: inline-block;
  font-weight: bolder;
  font-style: normal;
}


#shipping-restrictions {
  font-weight: bolder;
  font-size: 12pt;
  display: inline-block;
}

#hand-loading-disclaimer {
  font-weight: bolder;
  font-size: 12pt;
  top-border: 1px black solid;
  padding: 0px;
  margins: 0px;
  display: inline-block;
}

#hand-loading-disclaimer h4, p {
  display: inline;
}

#hours {
  display: inline-block;
}

#hours h4 {
  font-size: 13pt;
  font-weight: bold;
  display: inline;
}

#hours div {
  border-top: 1px black solid;
  font-size: 11pt;
  display: inline-block;
  margins: 0px;
  padding: 0px;
}


#shows {
  color: black;
  font-size: 12pt;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 1px;
  display: inline-block;
}

#shows h4 {
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
}

#shows ul {
  display: inline-block;
  margin: 2px;
  padding: 0px;
  width:95%;
  border: 1px gray solid;
  list-style-type: none;
}

#shows li {
  display: inline;
  text-align: left;
  margin-left: 0px;
}

#shows address {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 1em;
}

#product-logos img {
  margin: 0px;
  padding-left: 5px;
  padding-top: 25px;
  padding-bottom: 0px;
  padding-right: 5px;
  width: 240px;
  border: none;
}
