#capsule {
  font-family: calibri, arial, sans-serif;
}

main {
  margin-top: -1em;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
}


aside {
  display: none;
}


#products {
  margin-top: 1em;
}

#products h3 {
  color: black;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
}

#product-lists {
  -webkit-column-width: 50em; /* Chrome, Safari, newer Opera */
  -o-column-width: 50em; /* Firefox */
  -moz-column-width: 50em; /* Firefox */
  column-width: 50em;
  -webkit-column-gap: 10em; /* Chrome, Safari, newer Opera */
  -o-column-gap: 10em; /* Firefox */
  -moz-column-gap: 10em; /* Firefox */
  column-gap: 5em;
  margin-top: -15px;
}


#product-lists section {
  display: inline-block;
  vertical-align: text-top;
  padding-bottom: 1em;
  margin-top: -15px;
}

#product-lists h4 {
  font-family: calibri, arial, sans-serif;
  text-decoration:underline;
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: -15px;
}

#product-lists ul {
  display: inline;
  margin-top: -15px;
}

#product-lists li {
  font-family: cambria, times new roman, serif;
  font-size: 16pt;
  list-style-type: none;
  padding-left: 0;
  padding-top: 0;
}


#please-call {
  color: green;
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

#please-call h4 {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#please-call span {
  display: inline-block;
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;
}


#shipping-restrictions {
  font-family: cambria, times new roman, serif;
  font-weight: bolder;
  font-size: 14pt;
  display: inline-block;
}

#hand-loading-disclaimer {
  font-family: cambria, times new roman, serif;
  font-weight: bolder;
  font-size: 14pt;
  top-border: 1px black solid;
  padding: 0px;
  margins: 0px;
  color: darkred;
  display: inline-block;
}

#hand-loading-disclaimer h4, p {
  display: inline;
}

#hours {

  font-family: calibri, arial, sans-serif;
  display: inline-block;
}

#hours h4 {
  font-size: 13pt;
  font-weight: bold;
  display: inline;
}

#hours div {
  border-top: 1px black solid;
  font-size: 11pt;
  display: inline-block;
  margins: 0px;
  padding: 0px;
}
